{% extends 'core/base.html'%}

{% block title %}
    Contact
{% endblock %}


{% block content %}
    <h1 class="mb-12 text-4xl text-center font-bold tracking-wide border-b-4 border-teal-300">About Us </h1>
    <p class="text-xl mr-10 ml-10">
         Introducing our mini online shop, a haven for those seeking to declutter their lives and discover hidden treasures. Our platform provides a convenient and user-friendly marketplace for people to sell their gently used items, from clothing and electronics to furniture and collectibles. We believe in the power of reuse and sustainability, and our mission is to connect sellers with eager buyers who appreciate the value of pre-loved goods. Whether you're looking to make some extra cash by selling items you no longer need or on the hunt for unique finds at affordable prices, our mini online shop is the ideal destination for both buyers and sellers alike. Join us in reducing waste and promoting responsible consumerism while exploring a world of secondhand gems.</p>
{% endblock %}